<div
  class="fixed flex flex-row sm:flex-col bottom-0 sm:top-0 left-0 w-11/12 sm:w-auto max-w-full sm:max-w-20 justify-center sm:justify-center items-center py-3 mx-4 mb-2 sm:mb-0 gap-5 bg-black sm:bg-transparent shadow-2xl sm:shadow-none rounded-3xl text-xl text-gray-600">
  <a routerLink="home" [routerLinkActive]="'bg-gray-600 text-white'"
    class="w-12 h-12 rounded-full flex justify-center items-center"><i class="fa-solid fa-house"></i></a>
  <a routerLink="finanzas" [routerLinkActive]="'bg-gray-600 text-white'"
    class="w-12 h-12 rounded-full flex justify-center items-center"><i class="fa-solid fa-coins"></i></a>
  <a class="w-12 h-12 rounded-full flex justify-center items-center"><i class="fa-solid fa-book"></i></a>
  <!-- <a class="w-12 h-12 rounded-full flex justify-center items-center"><i class="fa-solid fa-dumbbell"></i></a> -->
  <a class="w-12 h-12 rounded-full flex justify-center items-center"><i class="fa-solid fa-gear"></i></a>
  <a (click)="logout()" class="w-12 h-12 rounded-full flex justify-center items-center hover:cursor-pointer"><i
      class="fa-solid fa-right-from-bracket"></i></a>
</div>
