<div #menu class="fixed -left-full top-0 w-screen h-screen z-50 bg-transparent transition-left duration-500 ease-out flex justify-center items-center">
  <!-- Contenido del menú -->
  <div class="">

    <div class="fixed top-0 -left-full h-screen w-full flex flex-col">
      <span #menuItem class="w-full h-1/4 left-0 bg-black relative"></span>
      <span #menuItem class="w-full h-1/4 left-0 bg-black relative"></span>
      <span #menuItem class="w-full h-1/4 left-0 bg-black relative"></span>
      <span #menuItem class="w-full h-1/4 left-0 bg-black relative"></span>
    </div>
    <nav>
      <ul class="relative main-menu w-full h-full flex flex-col gap-3">
        <li class="overflow-hidden"><a #items routerLink="home" class="relative -top-60 text-7xl text-gray-200 font-bold z-50" [routerLinkActive]="'text-white'">Home</a></li>
        <li class="overflow-hidden"><a #items routerLink="finanzas" class="relative -top-60 text-7xl text-gray-200 font-bold z-50" [routerLinkActive]="'text-white'">Finanzas</a></li>
        <li class="overflow-hidden"><a #items routerLink="servicios" class="relative -top-60 text-7xl text-gray-200 font-bold z-50">Servicios</a></li>
        <li class="overflow-hidden"><a #items routerLink="contacto" class="relative -top-60 text-7xl text-gray-200 font-bold z-50">Contacto</a></li>
      </ul>
    </nav>
    <div class="header-nav-footer">
      <ul class="social-links">
        <li><a (click)="logout()">Salir</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Botón para abrir el menú -->
<div class="fixed top-8 right-8 z-50 flex p-2 bg-white rounded-lg shadow-md">
  <i class="fa-solid fa-bars-staggered text-3xl text-black hover:cursor-pointer" (click)="toggleMenu()"></i>
</div>
