<div class="w-full mb-3">
  <div (click)="goBack()"
    class="w-12 h-12 rounded-full bg-gray-600 text-white flex justify-center items-center text-xl ml-14 hover:cursor-pointer">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
</div>
<div class="w-full flex flex-wrap justify-center">
  <div class="w-full flex flex-col justify-between items-center md:flex-row">
    <h1 class="text-3xl font-semibold text-gray-700 text-left w-full pl-14 mb-5">Gastos Recurrentes</h1>
    <div class="flex flex-col justify-center gap-3 sm:pr-14 sm:flex-row mt-2 md:mt-0 sm:w-auto w-4/5 mx-auto">
      <button id="suscripcionModalButton" data-modal-target="suscripcionModal" data-modal-toggle="suscripcionModal"
        class="sm:w-auto w-full shadow-lg text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Nueva Suscripción
      </button>
    </div>
  </div>

  <ul class="w-5/6 sm:w-4/5 mt-4 hover:cursor-pointer">
    <li *ngFor="let gasto of gastos; index as i"
      class="mb-3 p-4 rounded-md flex justify-between items-center bg-white shadow">
      <div class="flex justify-start items-center gap-5">
        <i class="{{gasto.Icono}} text-[#1c3757] text-2xl"></i>
        <div class="flex flex-col">
          <span class="text-[#1c3757] font-medium">{{ gasto.Descripcion }}</span>
        </div>
      </div>
      <div>
        <span class="text-[#6096BA] font-semibold">{{ gasto.Monto | currency:'':'symbol':'1.0-0' }}</span>
        <button (click)="eliminarSuscripcion(gasto.GastoRecurrenteID)" class="ml-4 text-red-500 hover:text-red-700 z-50">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>

</div>


<!-- Modal para crear suscripción -->
<div id="suscripcionModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Crear Suscripción
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="suscripcionModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="#" (ngSubmit)="crearSuscripcion()">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
            <input type="text" name="name" id="name" [(ngModel)]="descripcion"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Nombre de la suscripción" required="">
          </div>
          <div>
            <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicio</label>
            <input type="date" [(ngModel)]="fecha" name="fecha"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          </div>
          <div>
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monto</label>
            <input type="number" name="monto" id="monto" [(ngModel)]="monto"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="30.000" required="">
          </div>
          <div>
            <label for="categoria"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoria</label>
            <select id="categoria" [(ngModel)]="categoria" name="categoria"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected="" disabled>Seleccionar categoria</option>
              <option [value]="categoria.CategoriaID" *ngFor="let categoria of categorias">{{ categoria.Nombre }}
              </option>
            </select>
          </div>
          <div>
            <label for="frecuencia"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Frecuencia</label>
            <input type="text" name="frecuencia" id="frecuencia" [(ngModel)]="frecuencia"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Mes" required="">
          </div>
          <div>
            <label for="icono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Icono</label>

            <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="300"
              data-dropdown-trigger="hover"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              type="button"><i class="{{icono}}" *ngIf="icono"></i><span *ngIf="!icono">Escoge un Icono</span>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownDelay"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="flex flex-wrap justify-center items-center max-h-72 overflow-y-auto gap-4 py-2 px-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
                <li *ngFor="let icono of iconos" (click)="setIcon(icono.Nombre)">
                  <i class="{{icono.Nombre}} text-lg"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <button type="submit" data-modal-toggle="suscripcionModal"
          class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
          Crear suscripción
        </button>
      </form>
    </div>
  </div>
</div>
