<div class="p-6 max-w-md mx-auto h-full">
  <div class="w-full flex justify-between">
    <h2 class="text-xl font-bold text-[#274C77] mb-4">Gastos por Categorías</h2>
    <span routerLink="./gastos" class="text-blue-800 text-md font-semibold hover:cursor-pointer text-">Ver Todo</span>
  </div>
  <div class="w-full flex flex-col justify-between items-center md:flex-col h-5/6">
    <div class="p-4">
      <canvas #chartCanvas2 id="chartCanvas2" class="" [style.height]="'100%'"  [style.widht]="'100%'"></canvas>
    </div>
    <div class="mt-4 min-h-44">
      <ul class="text-right my-1">
        <li *ngFor="let categoria of categoriasData; let i = index" class="flex justify-start py-1 pl-2 items-center">
          <span class="min-w-10 min-h-5 mr-2 inline-block rounded-full"
            [ngStyle]="{'background-color': categoriasData[i].color}"></span>
          <span class="mr-2">{{ categoria.nombre }}:</span>
          <span class="font-semibold">{{ categoria.valor | currency }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
