<div class="p-6 max-w-md mx-auto h-full">
  <div class="w-full flex justify-between">
    <h2 class="text-xl font-bold text-[#274C77] mb-4">Suscripciones</h2>
    <span routerLink="./recurrentes" class="text-blue-800 text-md font-semibold hover:cursor-pointer text-">Ver Todo</span>
  </div>

  <app-no-datos *ngIf="!gastos.length"></app-no-datos>

  <ul>
    <li *ngFor="let gasto of gastos" class="mb-3 p-4 rounded-md flex justify-between items-center">
      <div class="flex justify-start items-center gap-5">
        <i class="text-[#1c3757] text-2xl" [ngClass]="gasto.Icono"></i>
        <span class="text-[#1c3757] font-medium">{{ gasto.Descripcion }}</span>
      </div>
      <span class="text-[#6096BA] font-semibold">{{ gasto.Monto | currency }}</span>
    </li>
  </ul>
</div>
