<div class="p-6 h-full">
  <h2 class="text-xl font-bold text-[#274C77] mb-4">Categorías</h2>
  <ul>
    <li *ngFor="let categoria of categorias" class="mb-3 p-4 rounded-md flex flex-col justify-between items-center">
      <div class="w-full flex justify-between items-center mb-1">
        <div class="flex justify-start items-center gap-5">
          <i class="text-[#1c3757] text-2xl" [style.color]="categoria.Color" [ngClass]="categoria.Icono"></i>
          <span class="text-[#1c3757] font-medium">{{ categoria.Nombre }}</span>
        </div>
        <span class="text-[#6096BA] font-semibold">{{ categoria.Monto | currency }}</span>
      </div>
      <div class="w-full bg-gray-200 rounded-full h-2.5">
        <div class="bg-[#ba6060] h-2.5 rounded-full"  [style.background-color]="categoria.Color" [style.width.%]="categoria.Monto / 2500"></div>
      </div>
    </li>
  </ul>
</div>
