<div class="w-full flex flex-wrap justify-center">
  <div class="md:w-1/2 w-full p-4">
    <canvas #chartCanvas id="chartCanvas1" class="bg-white rounded-xl w-full"></canvas>
  </div>
  <div class="md:w-1/2 w-full p-4">
    <canvas #chartCanvas2 id="chartCanvas2" class="bg-white rounded-xl w-full"></canvas>
  </div>
  <div class="md:w-1/2 w-full p-4">
    <canvas #chartCanvas3 id="chartCanvas3" class="bg-white rounded-xl w-full"></canvas>
  </div>
  <div class="md:w-1/2 w-full p-4">
    <canvas #chartCanvas4 id="chartCanvas4" class="bg-white rounded-xl w-full"></canvas>
  </div>
</div>
