<div class="w-full mb-3">
  <div (click)="goBack()"
    class="w-12 h-12 rounded-full bg-gray-600 text-white flex justify-center items-center text-xl ml-14 hover:cursor-pointer">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
</div>
<div class="w-full flex flex-wrap justify-center">
  <div class="w-full flex flex-col justify-between items-center md:flex-row">
    <h1 class="text-3xl font-semibold text-gray-700 text-left w-full pl-14 mb-5">Deudas</h1>
    <div class="flex flex-col justify-center gap-3 sm:pr-14 sm:flex-row mt-2 md:mt-0 sm:w-auto w-4/5 mx-auto">
      <button id="pagoModalButton" data-modal-target="pagoModal" data-modal-toggle="pagoModal"
        class="sm:w-auto w-full shadow-lg text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Pagar Deuda
      </button>
      <button id="duedaModalButton" data-modal-target="duedaModal" data-modal-toggle="duedaModal"
        class="sm:w-auto w-full shadow-lg text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Nueva Deuda
      </button>
    </div>
  </div>

  <!-- movimiento de deuda -->
  <div class="w-full flex flex-wrap justify-center">
    <div class="md:w-2/3 w-full p-4">
      <div class="bg-white rounded-xl p-6 h-full">
        <h2 class="text-xl font-bold text-[#274C77] mb-2">Movimiento de la Deuda</h2>
        <canvas #chartDeudas id="chartDeudas" class="w-full"></canvas>
      </div>
    </div>

    <!-- Cuentas -->
    <div class="md:w-1/3 w-full p-4">
      <div class="bg-white rounded-xl p-2 h-full">
        <div class="p-6 max-w-md mx-auto h-full">
          <div class="w-full flex justify-between">
            <h2 class="text-xl font-bold text-[#274C77] mb-4">Deudas</h2>
          </div>
          <ul class="overflow-y-scroll" [style.max-height]="'480px'">
            <li *ngFor="let deuda of deudas" class="mb-3 p-4 pb-0 rounded-md flex flex-col justify-between items-center"
              (click)="getPagosDeuda(deuda.DeudaID)">
              <div class="w-full flex justify-between hover:cursor-pointer">
                <div class="flex justify-center items-center gap-5">
                  <i class="text-[#1c3757] text-2xl" [ngClass]="deuda.Icono"></i>
                  <span class="text-[#1c3757] font-medium">{{ deuda.Nombre }}</span>
                </div>
                <span class="text-[#6096BA] font-semibold">{{ deuda.MontoTotal | currency }}</span>
              </div>
              <div class="w-full bg-gray-200 rounded-full h-2.5 mt-2">
                <div class="bg-[#28802f] h-2.5 rounded-full"
                  [style.width.%]="( deuda.MontoTotal - deuda.MontoPendiente) * 100 / deuda.MontoTotal"></div>
              </div>
              <div class="w-full flex justify-end items-center text-red-600">
                <span class="text-xl mr-2 text-gray-600">Pendiente: </span>{{ deuda.MontoPendiente | currency }}
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Modal Crear Deuda -->
<div id="duedaModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Crear Deuda
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="duedaModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="#" (ngSubmit)="crearDeuda()">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
            <input type="text" name="name" id="name" [(ngModel)]="nombre"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Nombre de la deuda" required="">
          </div>
          <div>
            <label for="icono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Icono</label>
            <input type="text" name="icono" id="icono" [(ngModel)]="icono"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="fa-solid fa-user" required="">
          </div>
          <div>
            <label for="monto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monto</label>
            <input type="number" name="monto" id="monto" [(ngModel)]="monto"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="$1'000.000" required="">
          </div>
          <div>
            <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha</label>
            <input type="date" name="fecha" [(ngModel)]="fecha"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          </div>
        </div>
        <button type="submit" data-modal-toggle="duedaModal"
          class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
          Crear Deuda
        </button>
      </form>
    </div>
  </div>
</div>


<!-- Modal Guardar Pago Deuda -->
<div id="pagoModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Crear Deuda
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="pagoModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="#" (ngSubmit)="pagarDeuda()">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha</label>
            <input type="date" name="fecha" [(ngModel)]="fechaPago"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          </div>
          <div>
            <label for="deuda" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Deuda a Pagar</label>
            <select id="deuda" name="deuda"  [(ngModel)]="deudaPago"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected="" disabled>Seleccionar cuenta</option>
              <option [value]="deuda.DeudaID" *ngFor="let deuda of deudas">{{ deuda.Nombre }}</option>
            </select>
          </div>
          <div class="sm:col-span-2">
            <label for="montoPago" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monto</label>
            <input type="number" name="montoPago" id="montoPago" [(ngModel)]="montoPago"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="$1'000.000" required="">
          </div>
        </div>
        <button type="submit" data-modal-toggle="pagoModal"
          class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
          Guardar Pago
        </button>
      </form>
    </div>
  </div>
</div>
