<div class="w-full flex flex-row justify-between items-center pt-5">
  <!-- Sección Izquierda -->
  <div class="flex flex-row ml-4 items-center gap-5">
    <div><img src="../../../../assets/logo-finanzas.webp" class=" w-12 h-12" alt=""></div>
    <div class="text-xl font-semibold text-gray-800">Seguimiento</div>
  </div>

  <!-- Sección Derecha -->
  <div class="hidden flex-row mr-10 gap-8">
    <!-- Iconos -->
    <div class="flex flex-row justify-center items-center gap-4 text-2xl">
      <i class="fa-regular fa-moon hover:cursor-pointer"></i>
      <i class="fa-regular fa-bell hover:cursor-pointer"></i>
    </div>
    <!-- Usuario -->
    <div class="flex flex-row justify-center items-center gap-3 hover:cursor-pointer">
      <div
        class="w-10 h-10 rounded-full bg-white dark:bg-gray-900 dark:text-white flex justify-center items-center text-xl">
        {{ iniciales }}</div>
      <div>{{ nombre }}</div>
    </div>
  </div>
</div>
