<div class="w-full mb-3">
  <div (click)="goBack()"
    class="w-12 h-12 rounded-full bg-gray-600 text-white flex justify-center items-center text-xl ml-14 hover:cursor-pointer">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
</div>
<div class="w-full flex flex-wrap justify-center">
  <div class="w-full flex flex-col justify-between items-center md:flex-row">
    <h1 class="text-3xl font-semibold text-gray-700 text-left w-full pl-14 mb-5">Metas</h1>
    <div class="flex flex-col justify-center gap-3 sm:pr-14 sm:flex-row mt-2 md:mt-0 sm:w-auto w-4/5 mx-auto">
      <button id="metaModalButton" data-modal-target="metaModal" data-modal-toggle="metaModal"
        class="sm:w-auto w-full shadow-lg text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Nueva Meta
      </button>
      <button id="avanceModalButton" data-modal-target="avanceModal" data-modal-toggle="avanceModal"
        class="sm:w-auto w-full shadow-lg text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Guardar Avance
      </button>
    </div>
  </div>

  <!-- Avances de Meta -->
  <div class="w-full flex flex-wrap justify-center">
    <div class="md:w-2/3 w-full p-4">
      <div class="bg-white rounded-xl p-6 h-full">
        <h2 class="text-xl font-bold text-[#274C77] mb-2">Movimiento de la Meta</h2>
        <canvas #chartMetas id="chartMetas" class="w-full"></canvas>
      </div>
    </div>

    <!-- Metas -->
    <div class="md:w-1/3 w-full p-4">
      <div class="bg-white rounded-xl p-2 h-full">
        <div class="p-6 max-w-md mx-auto h-full">
          <div class="w-full flex justify-between">
            <h2 class="text-xl font-bold text-[#274C77] mb-4">Resumen de Metas</h2>
          </div>
          <ul class=" overflow-auto" [style.max-height]="'480px'">
            <li *ngFor="let meta of metas" (click)="selecccionarMeta(meta)"
              class="mb-3 p-4 pb-0 rounded-md flex flex-col justify-between items-center">
              <div class="w-full flex justify-between hover:cursor-pointer">
                <div class="flex justify-center items-center gap-5">
                  <i class="text-[#1c3757] text-2xl" [ngClass]="meta.Icono"></i>
                  <span class="text-[#1c3757] font-medium">{{ meta.Nombre }}</span>
                </div>
                <span class="text-[#6096BA] font-semibold">{{ meta.MontoObjetivo | currency:'':'symbol':'1.0-0' }}</span>
              </div>
              <div class="w-full bg-gray-200 rounded-full h-2.5 mt-2">
                <div class="bg-[#28802f] h-2.5 rounded-full"
                  [style.width.%]="(meta.MontoAhorrado * 100) / meta.MontoObjetivo"></div>
              </div>
              <div class="w-full flex justify-end items-center text-red-600">
                <span class="text-xl mr-2 text-gray-600">Pendiente: </span>{{ meta.MontoObjetivo - meta.MontoAhorrado | currency:'':'symbol':'1.0-0' }}
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal para Metas -->
<div id="metaModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Crear Meta
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="metaModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="#" (ngSubmit)="crearMeta()">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
            <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Escribe el nombre de la meta" required="">
          </div>
          <div>
            <label for="icono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Icono</label>

            <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="300"
              data-dropdown-trigger="hover"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              type="button"><i class="{{icono}}" *ngIf="icono"></i><span *ngIf="!icono">Escoge un Icono</span>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownDelay"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="flex flex-wrap justify-center items-center max-h-72 overflow-y-auto gap-4 py-2 px-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
                <li *ngFor="let icono of iconos" (click)="setIcon(icono.Nombre)">
                  <i class="{{icono.Nombre}} text-lg"></i>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <label for="objetivo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Objetivo</label>
            <input type="number" name="objetivo" id="objetivo" [(ngModel)]="monto"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="$1'000.000" required="">
          </div>
          <div>
            <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha
              Objetivo</label>
            <input type="date" name="fecha" [(ngModel)]="fechaObjetivo"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          </div>
          <div class="sm:col-span-2">
            <label for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
            <textarea id="description" rows="4" [(ngModel)]="descripcion" name="description"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Write product description here"></textarea>
          </div>
        </div>
        <button type="submit"
          class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
          Crear Meta
        </button>
      </form>
    </div>
  </div>
</div>


<!-- Modal Guardar Avance -->
<div id="avanceModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Guardar Avance
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="avanceModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="#" (ngSubmit)="crearAvance()">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha</label>
            <input type="date" name="fecha" [(ngModel)]="fechaAvance"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          </div>
          <div>
            <label for="monto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monto</label>
            <input type="number" name="monto" id="monto"  [(ngModel)]="montoAvance"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="$2999" required="">
          </div>
          <div class="sm:col-span-2">
            <label for="meta" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Meta</label>
            <select id="meta"  [(ngModel)]="metaAvance" name="meta"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected="" disabled>Select category</option>
              <option *ngFor="let meta of metas" [value]="meta.MetaAhorroID" >{{ meta.Nombre }}</option>
            </select>
          </div>
        </div>
        <button type="submit"
          class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
          Guardar Avance
        </button>
      </form>
    </div>
  </div>
</div>
