<div class="p-6 max-w-md mx-auto h-full">
  <div class="w-full flex justify-between">
    <h2 class="text-xl font-bold text-[#274C77] mb-4">Metas</h2>
    <span routerLink="./metas" class="text-blue-800 text-md font-semibold hover:cursor-pointer text-">Ver Todo</span>
  </div>
  <ul class="overflow-y-scroll" [style.max-height]="'480px'">
    <li *ngFor="let meta of metas" class="mb-3 p-4 pb-0 rounded-md flex flex-col justify-between items-center">
      <div class="w-full flex justify-between hover:cursor-pointer">
        <div class="flex justify-center items-center gap-5">
          <i class="text-[#1c3757] text-2xl" [ngClass]="meta.Icono"></i>
          <span class="text-[#1c3757] font-medium">{{ meta.Nombre }}</span>
        </div>
        <span class="text-[#6096BA] font-semibold">{{ meta.MontoObjetivo | currency }}</span>
      </div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mt-2">
        <div class="bg-[#28802f] h-2.5 rounded-full"
          [style.width.%]="(meta.MontoAhorrado * 100) / meta.MontoObjetivo"></div>
      </div>
      <div class="w-full flex justify-end items-center text-red-600">
        <span class="text-xl mr-2 text-gray-600">Pendiente: </span>{{ meta.MontoObjetivo - meta.MontoAhorrado | currency }}
      </div>
    </li>
  </ul>
</div>
