$color-pastel-blue: #a7c5eb;
$color-pastel-green: #aceb98;
$color-pastel-dark: #5d5c61;

.bg-pastel-blue {
  background-color: $color-pastel-blue;
}

.text-pastel-green {
  color: $color-pastel-green;
}

.text-pastel-dark {
  color: $color-pastel-dark;
}
