<div class="p-6 max-w-md mx-auto h-full">
  <div class="w-full flex justify-between">
    <h2 class="text-xl font-bold text-[#274C77] mb-4">Resumen de Cuentas</h2>
    <span routerLink="./cuentas" class="text-blue-800 text-md font-semibold hover:cursor-pointer text-">Ver Todo</span>
  </div>
  <ul>
    <li *ngFor="let cuenta of cuentas" class="mb-3 p-4 rounded-md flex justify-between items-center">
      <div class="flex justify-start items-center gap-5">
        <i class="text-[#1c3757] text-2xl" [ngClass]="cuenta.icono"></i>
        <span class="text-[#1c3757] font-medium">{{ cuenta.nombre }}</span>
      </div>
      <span class="text-[#6096BA] font-semibold">{{ cuenta.valor }}</span>
    </li>
  </ul>
</div>
